/* Centrer le texte*/
main>h1 {
    display: flex;   
    justify-content: center;
}
main>p {
    display: flex;   
    justify-content: center;
}
.say_hello>p {
    display: flex;   
    justify-content: center;
}

/* Carte collaborateur*/
.say_hello>figure {
    display: flex;
    justify-content:center;                  
    align-items:center;
    background-color: white;
    width: 23.05rem;
    margin: 1.625rem auto;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);

    height: 9.1rem;
}

.img_collab_1{
    height: 9.1rem;
}
/* Styles pour le pole_technique*/
.pole_technique{
    display: flex;
    background-color:#5ba9fe;
    color: white;
    font-size: 0.8rem; 
    padding: 0.2rem;
    align-items: flex-start;
    margin: 0;
    padding-top: 0;
}

/* conteneur du pole technique*/
.cont_technique { /* ou le sélecteur approprié pour le conteneur parent */
    display: flex;
    justify-content: flex-end; /* Aligner le contenu à droite */
    align-items: flex-start; /* Aligner le contenu en haut */
    height: 2rem; /* Hauteur fixe pour le conteneur */
    padding: 0;
    margin-top: -1.156rem;
    margin-right: -2.25rem;
}


/* Centrer le nom_collab*/
.nom_collab {
    display: flex;
    justify-content: center;
    margin: 0rem 0 0 1.2rem;
    margin-left: 2.27rem;
    margin-right: -1.1875rem ;
}

/* Style pour l'age*/
.age {
    display: flex;
    align-items: center;   
    font-size: 0.8rem; 
    color: grey; 
    margin-left: 0.5rem; 
}

/* Style du lieu de naissance*/
.lieu {
    display: flex;
    justify-content: center;
    color: grey; 
    margin-left: 0.3rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;   
}

/* Styles pour les liens*/
.say_hello>figure>figcaption>ul>li>a {
    color:#c5869d;
    font-size:0.8rem;   
}

/* Styles pour Anniversaire*/
.say_hello>figure>figcaption>ul>li {
    color:grey;
    list-style: none;
    font-size:0.75rem;  
}

.button_user {
    background-color: #d9534f ;
    color: white;
    padding: 0.45rem;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 0.85rem;   
}

.button_user:hover {
    background-color:#c9302c;
}
.say_hello>div{
    display: flex;
    justify-content: center;
}

/* réduire l'écart entre le lieu et les liens*/
.listes{
    margin: 0 0 0 0;    
}
.boite{
    margin-right: 2.25rem;
}



